@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url('@/assets/fonts/PTSans-Regular.ttf');
}

body {
  margin: unset;
}

#app {
  padding: 0 100px;

  @media (max-width: $breakpoint-desktop) {
    padding: 0 32px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 16px;
  }
}

* {
  font-family: "PT Sans", sans-serif;
  color: $color-font-main;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
