@use 'base' as *;

@mixin scrollbar($color: $scroll-bar) {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: content-box;
    border: 5px solid transparent;
    background-color: $color;
  }
}